* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 15px;
    font-family: 'Montserrat', serif;
}
.wrapper {
    background: linear-gradient( rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95) ), url(../image/bg-image1.jpg) repeat;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.header {
    max-width: 1280px;
    margin: 5px auto -5px;
    display: flex;
    justify-content: center;
    position: relative;
    
}
.header::before {
    content: url(../image/icons/header_line-black.png);
    position: absolute;
    left: 40px;
}
.header::after {
    content: url(../image/icons/header_line-black.png);
    position: absolute;
    right: 40px;
}
.header_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
    margin: 0 1.5%;
}
.header_item-number {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.head_number {
    font-size: 16px;
    letter-spacing: 1.5px;

}
.head_number-info {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #DEAC8C;
    position: relative;
    top: 7px;

}
.head_number-info::after {
    content: url(../image/icons/header_line.png);
    position: relative;
    bottom: 4px;
    left: 10px;
}

.header_item-btn {
    display: flex;
}
.header_item-btn a {
    box-sizing: border-box;
    font-size: 12.5px;
    text-transform: uppercase;
    
}
.first_btn a {
    letter-spacing: 1px;
    padding: 6px 34px;
    border: 1px solid #000000;
    color: #000000;
}
.second_btn a {
    color: #ffffff;
    background-color: #DEAC8C;
    padding: 7px 37px;
}
.nav {
    background-color: #42373C;
}
nav ul {
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*max-width: 1280px;*/
    margin: 0 auto;
    padding: 21px 0;
    
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin: 0 auto;
}
nav li + li::before {
    content: url(../image/icons/Фигура-1-копия-3.png);
    position: relative;
    top: 4px;
    margin: 0 67px;
    opacity: 0.5;
}
.nav a {
    font-family: 'Romul', serif;
    color: #ffffff;
}
a {
    text-decoration: none;
}
a:hover {
    color: #DEAC8C;
}
.hr {
    border-color: #EAEAEA;
}
.crumbs ul {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 6px 0;
}
.crumbs ul li {
    display: inline-block;
    letter-spacing: 1px;

}
.crumbs a {
    color: #000000;
    font-size: 10px;
    text-transform: uppercase;
}
.crumbs li + li::before {
    content: "|";
    padding: 0 6px;
}
.crumbs .active {
    color: #DEAC8C;
}
.crumbs a:hover {
    color: #DEAC8C;
}
.excursions {
    text-align: center;
    margin-top: 26px;
}
.excursions_info p {
    font-size: 12px;
    margin-bottom: 16px;
    letter-spacing: 1px;
    line-height: 17px;
}
.excursions h2, h1{
    font-size: 37px;
    font-family: 'Romul';
    font-weight: normal;
    margin-top: 5px;
    letter-spacing: 0.5px;
}
.excursions h1::before {
    content: url(../image/icons/line.png);
    position: relative;
    bottom: 13px;
    right: 15px;
}
.excursions h1::after {
    content: url(../image/icons/line.png);
    position: relative;
    bottom: 13px;
    left: 15px;
}

.excursions h3 {
    font-size: 17px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 17px;
    letter-spacing: 0.5px;
}
.excursions_info {
    max-width: 57%;
    
    margin: 25px auto 0;
}
.excursions_grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}
.excursions_grid_item {
    flex-basis: 43%;
    margin-top: 19px;
}
.item_image {
    width: 100%;
    height: 235px;
    
}
.item_image-1 {
    background: center / 100% url(../image/image2.jpg) no-repeat;
}
.item_image-2 {
    background: url(../image/image1.jpg) no-repeat left top / 103%;;
}
.item_image-3 {
    background: url(../image/image4.jpg) no-repeat center / 115%;
}
.item_image-4 {
    background: center / 100% url(../image/image3.jpg) no-repeat;
}
.item_image-5 {
    background: url(../image/image5.jpg) no-repeat center;
}
.item_image-6 {
    background: url(../image/image6.jpg) no-repeat bottom;
}
.item_info {
    margin-top: 21px;
    
    position: relative;
}
.item_info h2 + p::before {
    content: url(../image/icons/line.png);
    position: absolute;
    
    left: 233px;
    top: 39px;
}
.item_info h2 {
    font-size: 25px;
    letter-spacing: 1.5px;
    margin-bottom: 42px;
}
.item_info p {
    letter-spacing: 0.4px;
    line-height: 16px;
    font-size: 12px;
    margin-bottom: 12px;
}
.item_more a {
    display: block;
    border: 2px solid #000000;
    padding: 11px 46px;
    margin: 27px auto 0;
    font-size: 15px;
    text-transform: uppercase;
    max-width: 33%;
    color: #000000;
}
.item_more a:hover {
    color: #DEAC8C;
}
.item_more {
    margin-bottom: 23px;
}
footer {
    margin-top: 28px;
    background: linear-gradient( rgba(5, 5, 5, 0.8), rgba(0, 0, 0, 0.9) ), url('../image/bg-image3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 28px;

}
.footer {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 36px;
}
.footer_item {
    flex-basis: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    position: relative;
}
.footer_item + .footer_item::before {
    content: url(../image/icons/line_vertical_footer.png);
    position: absolute;
    left: 0;
}
.footer_item:last-child {
    margin-right: 6px;
}
.some .footer_item-list::before {
    content: url(../image/icons/line.png);
    position: absolute;
    top: -45px;
}
.footer_item a {
    margin-bottom: 14px;
    color: rgb(206, 206, 206);
    
}
.footer_item-btn {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 16px 6px;
    border-bottom: 2px solid #ffffff;
}
.footer_item-btn:hover {
    color: #ffffff;
}
.footer_item h3 {
    font-weight: normal;
    font-family: 'Romul';
    font-size: 19px;
    color: #ffffff;
}
.footer_item-list{
    position: relative;
    margin-top: 47px;
    font-size: 15px;
}
.footer_item-list ul {
    list-style-type: none;
}
.footer_item-list li {
    padding-bottom: 5px;
}
.footer_item-list ul a{
    color: grey;
}
.footer_item-list ul a:hover {
    color: #DEAC8C;
}
.contacts {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background-color: #3E3E3E;
    padding: 10px 18px 0;
    
    text-align: right;
}
.contacts_number {
    font-size: 17px;
    margin-bottom: 2px;
}
.contacts_info {
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 3px;
    color: rgb(167, 167, 167);
}
.social {
    text-align: center;
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
}
.facebook {
    content: url(../image/icons/facebook.png);
    width: 28px;
}
.instagram {
    content: url(../image/icons/insta3.png);
    width: 28px;
}
.linkedin {
    content: url(../image/icons/linkedin.png);
    width: 28px;
}
.gmail {
    content: url(../image/icons/gmail.png);
    width: 28px;
}
.footer_rights {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 40px;
    color: grey;
    padding-left: 123px;
    letter-spacing: 0.2px;
}

@media (max-width: 1200px) {

}
@media (max-width: 980px) {
    
}
@media (max-width: 768px) {
    
}
@media (max-width: 576px) {
    
}